*{
    margin: 0;
    padding: 0;
}

.container{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

#date{
    font-size: 26px;
    /* background-color: aquamarine; */
    margin: 8rem 0 2rem 0;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.todoInput{
    /* background-color: aqua; */
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
}

.input{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#alert{
    color: red;
    display: none;
}

.btn {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px; 
    background-color: #28282B;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* .todoList{
    background-color: #4CAF50;
} */

#myTable{
    /* background-color: blue; */
    width: 60vw;
    text-align: center;
}

.activity{
    display: flex;    
    /* background-color: aliceblue; */
    justify-content: space-evenly;
    align-items: center;
}

th{
    width: 50%;
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
}

td{
    font-size: 1.5rem;
}

i{
    font-size: 2rem;
}

td{
    /* background-color: #4CAF50; */
    padding: 1rem;
}

.editField{
    width: 70%;
    padding: 0.8rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
